/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: black;
  padding: 0.5% 0;
}
nav h1 {
  font-size: 3.5vh;
  width: 40%;
  padding-left: 1%;
  font-weight: bold;
}
@media (max-width: 500px) {
  nav h1 {
    font-size: 2vh;
  }
}
ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding-right: 1%;
  width: 40%;
}
ul a {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  font-size: 1.6rem;
  color: black;
  padding: 0 8%;
}
@media (max-width: 500px) {
  ul a {
    font-size: 1rem;
  }
}
#landing {
  background-image: url('/img/baskets.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  text-align: center;
}
#landing #quote {
  width: 100%;
  padding: 15% 0 15% 0;
}
#landing #quote h2 {
  text-align: center;
  font-size: 5vh;
  padding: 0 27%;
  line-height: 150%;
  font-weight: bold;
}
@media (max-width: 500px) {
  #landing #quote h2 {
    font-size: 2.5vh;
  }
}
#landing #quote p {
  padding: 2% 0;
  font-size: 2rem;
  font-weight: bold;
}
@media (max-width: 500px) {
  #landing #quote p {
    font-size: 1.2rem;
  }
}
#landing #quote #button {
  margin-top: 3%;
  padding: 0.5% 2.5%;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  border-radius: 10px;
  font-weight: bold;
}
@media (max-width: 500px) {
  #landing #quote #button {
    font-size: 1rem;
  }
}
#aboutB {
  background-image: url('/img/print.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 10%;
}
#about {
  width: 50%;
  font-size: 7vh;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: white;
  margin: 10% 25% 0 25%;
  padding: 1% 0;
}
@media (max-width: 500px) {
  #about {
    font-size: 3vh;
  }
}
#aboutUs {
  display: flex;
  justify-content: center;
  background-color: white;
  margin: 0 auto;
  padding: 0;
  width: 50%;
}
#pictures {
  display: flex;
  align-items: center;
  width: 100%;
}
.portraits {
  width: 30%;
}
img {
  object-fit: contain;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}
#text {
  background-color: white;
  width: 50%;
  margin: 0 auto;
}
#text p {
  padding: 3% 1%;
  width: 80%;
  margin: 0 auto;
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  line-height: 150%;
}
@media (max-width: 500px) {
  #text p {
    font-size: 0.8rem;
  }
}
