nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color:black;
    padding: 0.5% 0;

    h1 {
        font-size: 3.5vh;
        width: 40%; 
        padding-left: 1%;
        font-weight: bold;

        @media @mobile {
            font-size: 2vh;
        }
    }
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding-right: 1%;
    width: 40%;

    a {
        display: flex;
        justify-content: flex-end;
        text-decoration: none;
        font-size: 1.6rem;
        color: black;
        padding: 0 8%;

        @media @mobile {
            font-size: 1rem;
        }
    }
}